* {
    /* means the width sizing includes border*/
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

img {
    /* required to work with the flex: 1 column setting */
    width: 100%;
}

#header {
    background-color: black;
    padding: 30px;
    text-align: center;
}

#row {
    /* use flexbox to layout a row or column */
    display: flex;
    /* use row for initial layout */
    flex-direction: row;
    /* creates an extra row at smaller, tablet screen size */
    flex-wrap: wrap;
}

.column {
    /* makes child column have equal width, regardless of individual content width */
    flex: 1;
    /* because box sixing = border box, padding is counted as part of the overall width of the column */
    padding: 10px;
}

#col1 {
    background-color: rgb(240, 227, 174);
}

#col2 {
    background-color: rgb(202, 235, 175);
}

#col3 {
    background-color: lightpink;
}

#col4 {
    background-color: lavender;
}

#footer {
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .column {
        /* make the minimum width of a column 50% of its parent */
        min-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .column {
        min-width: 100%
    }
    .row{
        flex-direction: column;
    }
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 1.4rem;
    }
}